.hr {
    box-shadow: 0px 1px 1px 1px black;
}

.carousel-inner img {
    border-radius: 20px;
}

#carouselExampleCaptions {
    margin-top: 100px;
}
#products{margin-top: 100px;}
#products h5{font-size: 2em;}
.col{border-radius: 20px 20px 20px 20px;}
#products .btn{
margin-top: 20px;
padding: 10px 20px;
border: 1px solid gray;
border-radius: 50px;}
